:root {
  --main-font:'Poppins', sans-serif;
}
/* Start Consts */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .5s
}

body {
  font-family: var(--main-font);
  background-color: #0062be;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Consts */
/* Start Parent */

.parent {
  position: relative;
}

/* End Parent */
/* Start Header */

header {
  padding-top: 15px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container ul {
  display: flex;
}

header .container ul li {
  padding-right: 10px;
  padding-left: 10px;
}

header span.menu-toggle {
  color: white;
}

header .container ul li a {
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 40px;
}

header .container ul li a:hover {
  color: #000;
  background-color: #fff;
}

/* Hide Menu From PC */

@media (min-width:768px) {
  span.menu-toggle {
    display: none;
  }
}

/* End Hide Menu From PC */
header .logo img {
  width: 60px;
}

/* End Header */

/* Start Landing */

.landing {
  padding-top: 30px;
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-img img {
  width: 200px;
}

.landing-text {
  width: 60%;
}

.landing-text h1 {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  font-weight: 700
}

.landing-text h1 span {
  font-size: 75px;
  font-weight:900 
}

.landing-text p {
  color:#fff;
  margin-top: 20px;
  margin-bottom: 30px;
}

.landing-text .button {
  color: #000;
  background-color: #fff;
  padding: 8px 34px;
  border-radius: 40px;
}

/* End Landing */
/* Start Thumbs */

.thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.thumbs img {
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.thumbs img:hover {
  transform: translateY(-30px);
}

/* End Thumbs */
